* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: background-color 0.3s ease;
}

h1 {
    color: #f5f5f5;
    font-size: 3rem;
}

.controls {
    display: flex;
    gap: 20px;
}

.controls button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333333c4;
    color: white;
    cursor: pointer;
    border: none;
}

.controls button:hover {
    background-color: #333;
    transition: background-color 0.3s ease;
}

#display {
    text-align: center;
    font-size: 3rem;
    color: white;
}